.content-counter-list{
	padding-left: 0;
	margin-top: 0;
	list-style: none;
	/* border: 1px solid black; */
}

.content-counter-item{
	height: 6vh;
	margin-bottom: 2.5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	/* border: 1px solid black; */
}

.content-counter-adder{
	height: 4vh;
  margin-top: 0;
	margin-bottom: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
	overflow: hidden;
	/* border: 1px solid black; */
}