.quran-list-header{
	padding: 0 0.25vw 0.25vw 0.25vw;
	border-radius: 20px 20px 0px 0px;
	background-color: #EBEBEB;
}

.quran-list-title{
	margin: 0.5vw;
	font-size: 2vw;
	text-align: center;
	font-family: 'Ledger';
	font-style: normal;
}

.quran-categories{
	margin: 0;
	padding-left: 0;
	font-size: 1.25vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	color: #5C5C5C;
	font-family: 'Ledger';
	font-style: normal;
}