.quran-list-header{
	width: 36.4vw;
	padding: 0 0.25em 0.25em 0.25em;
	border-radius: 20px 20px 0px 0px;
	background-color: #EBEBEB;
}

.quran-list-title{
	margin: 0.25em;
	font-size: 1.7em;
	text-align: center;
	font-family: 'Ledger';
	font-style: normal;
}

.quran-categories{
	margin: 0;
	padding-left: 0;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	color: #5C5C5C;
	font-family: 'Ledger';
	font-style: normal;
}